<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-background text-foreground">
        {% if not no_header %}
            {% include "layouts/partials/header.html" %}
        {% endif %}
        <main class="p-2">
            {% block content %}{% endblock %}
        </main>
        {% include "layouts/partials/footer.html" %}
    </body>
</html>
