{% extends "layouts/dashboard_entry.html" %}

{% block entry %}
    <form method="post" action="/dashboard/product/new" >
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ name or '' }}" required>

        <label for="price">Price:</label>
        <input type="text" name="price" value="{{ price or '' }}" required>

        <label for="cover">Cover:</label>
        <input type="text" name="cover" value="{{ cover or '' }}" required>

        <label for="amount">Amount:</label>
        <input type="number" name="amount" value="">

        <button type="submit">Add</button>
    </form>
    <h2>{{ results_message }}</h2>
{% endblock %}
